//Map
#map {
    width: 60vw;      /* largeur  */
    height: 40vw;     /* La hauteur */
    margin: 0 auto;   /* Centre le conteneur horizontalement */
    display: block;   /* Assure que le conteneur se comporte comme un bloc pour centrer */
  }
  