<div id="activities" class="mt-10 mb-10">
    <div>
        <p class="text-center">En cette période de trouble, <span class="font-bold">Ycata</span> vous aide à vous divertir via de nombreux loisirs adaptés à l’environnement qui nous entoure. Surfer en zone inondée vous fais rêvez ? Faire du paddle ? Ou encore du trampoline en plein séisme ? De l’escalade ?</p> 
        <br>
        <p class="text-center">Pour cela <span class="font-bold">Ycata</span> peut répondre à vos attentes, retrouvez toutes les activités disponibles ci-dessous !</p>
    </div>
</div>